<footer class="text-center p-4 text-gray-200 font-medium">
    Made by
    <a
        class="text-violet-600 underline"
        href="https://github.com/mrx7355608"
        target="_blank"
        >Fawad Imran</a
    >
    <br />
    <a
        class="underline text-gray-600"
        target="_blank"
        href="https://icons8.com/icon/11901/people"
        >People</a
    >
    icon by
    <a class="underline text-gray-600" target="_blank" href="https://icons8.com"
        >Icons8</a
    >
</footer>
