<nav
    class="sticky top-0 flex justify-between items-center p-4 px-5 bg-zinc-900"
>
    <!-- hamburger -->
    <div onclick="openMenu()" class="space-y-1">
        <div style="height: 2px" class="bg-gray-300 w-6"></div>
        <div style="height: 2px" class="bg-gray-300 w-6"></div>
        <div style="height: 2px" class="bg-gray-300 w-6"></div>
    </div>
    <!-- logo -->
    <div>
        <h3 class="text-gray-200 font-black font-inter">MembersOnly</h3>
    </div>
    <!-- user avatar (if logged in) -->
    <div style="padding: 2px" class="border-2 border-violet-700 rounded-full">
        <img class="w-7 rounded-full" src="/images/avatar-1.jpg" alt="user" />
    </div>
</nav>
