<aside
    id="menu"
    class="fixed top-0 z-40 w-56 -ml-56 h-screen flex bg-zinc-900 duration-700"
>
    <div class="w-full flex flex-col text-white px-5 py-4 space-y-4">
        <a
            href="javascript:void(0)"
            onclick="closeMenu()"
            class="w-max text-4xl hover:text-rose-600"
            >&times;</a
        >
        <div class="mx-auto flex flex-col items-start justify-center">
            <a href="/" class="font-semibold text-md font-sans">HOME</a>
            <div style="height: 3px" class="w-5 rounded-md bg-violet-600"></div>
        </div>
        {{#if user}}
        <div class="mx-auto flex flex-col items-start justify-center">
            <a href="/post-message" class="font-semibold text-md font-sans"
                >POST MESSAGE</a
            >
            <div style="height: 3px" class="w-5 rounded-md bg-violet-600"></div>
        </div>
        <div class="mx-auto flex flex-col items-start justify-center">
            <a
                href="/auth/logout"
                class="text-rose-600 font-semibold text-md font-sans"
                >LOGOUT</a
            >
        </div>
        {{else}}
        <div class="mx-auto flex flex-col items-start justify-center">
            <a href="/auth/login" class="font-semibold text-md font-sans"
                >LOGIN</a
            >
            <div style="height: 3px" class="w-5 rounded-md bg-violet-600"></div>
        </div>
        <div class="mx-auto flex flex-col items-start justify-center">
            <a href="/auth/signup" class="font-semibold text-md font-sans"
                >SIGNUP</a
            >
            <div style="height: 3px" class="w-5 rounded-md bg-violet-600"></div>
        </div>
        {{/if}}
    </div>
</aside>
