<!-- messages -->

<section
    class="mx-auto w-11/12 flex flex-col items-center justify-start space-y-4"
>
    <!-- message card -->
    {{#each messages}}
    <div
        class="bg-zinc-800/40 rounded-lg p-3 py-4 w-full max-w-lg lg:p-4 lg:py-5"
    >
        <!-- user -->
        <div class="flex justify-start items-center">
            <img
                class="w-8 rounded-full lg:w-12"
                src="{{author.avatar}}"
                alt="user"
            />
            <div class="ml-1.5 flex flex-col space-y-0">
                <h4
                    class="text-sm text-gray-200 font-roboto font-semibold lg:text-base"
                >
                    {{author.fullname}}
                </h4>
                <p class="text-gray-500 font-medium text-xs lg:text-sm">
                    Posted on: {{createdAt}}
                </p>
            </div>
        </div>
        <!-- message -->
        {{#if message}}
        <p class="mt-4 bg-zinc-700/30 p-3 rounded-md text-gray-200 text-lg">
            {{message}}
        </p>
        {{else}}
        <p class="mt-4 bg-zinc-700/30 p-3 rounded-md text-gray-200 text-lg">
            Please
            <a href="/auth/login" class="text-base text-violet-500 underline"
                >Become a member</a
            >
            to view messages
        </p>
        {{/if}}
    </div>
    {{/each}}
</section>
