<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/main.tw.css" />
        <title>{{title}}</title>
    </head>
    <body class="bg-zinc-900">
        <!-- Navbar -->
        {{> navbar }}

        <!-- Sidebar -->
        {{> sidebar }}

        <!-- MAIN -->
        <main class="py-5 min-h-screen">{{{body}}}</main>

        <!-- Footer -->
        {{> footer }}

        <!-- Script to toggle sidebar -->
        <script>
            const menu = document.getElementById("menu");

            // show the menu
            function openMenu() {
                menu.classList.remove("-ml-56");
                menu.classList.add("ml-0");
            }

            // make the menu "go away"
            function closeMenu() {
                menu.classList.remove("ml-0");
                menu.classList.add("-ml-56");
            }
        </script>
    </body>
</html>
