<div class="w-screen p-4">
    <h2 class="text-3xl mb-5 font-extrabold text-white">Login</h2>
    <form class="flex flex-col space-y-4" method="post">
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            placeholder="Username"
            name="username"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="text"
            placeholder="Password"
            name="password"
        />
        <input
            class="hover:cursor-pointer rounded-md bg-violet-700 text-white outline-none font-semibold py-3"
            type="submit"
            value="LOGIN"
        />
    </form>
</div>
