<div class="w-screen p-4 max-w-lg md:mx-auto">
    <h2 class="text-3xl mb-5 font-extrabold text-white">Post Message</h2>
    <form class="flex flex-col space-y-4" method="post">
        {{#if error}}
        <p class="p-3 rounded-md bg-amber-300/80 text-amber-700/80 font-bold">
            {{error}}
        </p>
        {{/if}}
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            placeholder="Enter your message"
            name="message"
        />
        <input
            class="hover:cursor-pointer rounded-md bg-violet-700 text-white outline-none font-semibold py-3"
            type="submit"
            value="POST"
        />
    </form>
</div>
