<div class="w-screen p-4 max-w-lg md:mx-auto">
    <h2 class="text-3xl mb-5 font-extrabold text-white md:text-4xl">Signup</h2>
    <form class="flex flex-col space-y-4" method="post">
        {{#if error}}
        <p class="p-3 rounded-md bg-amber-300/80 text-amber-700/80 font-bold">
            {{error}}
        </p>
        {{/if}}
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            name="fname"
            placeholder="First name"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="text"
            name="lname"
            placeholder="Last name"
        />
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            name="username"
            placeholder="Username"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="password"
            name="password"
            placeholder="Password"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
        />

        <input
            class="hover:cursor-pointer rounded-md bg-violet-700 text-white outline-none font-semibold py-3"
            type="submit"
            value="SIGNUP"
        />
    </form>
    <p class="font-medium text-center text-md mt-5 text-gray-200">
        <a class="text-violet-600" href="/auth/login">Login</a>, if you already
        have an account
    </p>
</div>
