<div class="w-screen p-4">
    <h2 class="text-3xl mb-5 font-extrabold text-white">Signup</h2>
    <form class="flex flex-col space-y-4" method="post">
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            name="fname"
            placeholder="First name"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="text"
            name="lname"
            placeholder="Last name"
        />
        <input
            class="p-3 bg-zinc-700/50 rounded-md outline-none text-white"
            type="text"
            name="username"
            placeholder="Username"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="text"
            name="password"
            placeholder="Password"
        />
        <input
            class="bg-zinc-700/50 rounded-md outline-none text-white p-3 mb-6"
            type="text"
            name="confirm_password"
            placeholder="Confirm Password"
        />

        <input
            class="hover:cursor-pointer rounded-md bg-violet-700 text-white outline-none font-semibold py-3"
            type="submit"
            value="SIGNUP"
        />
    </form>
</div>
